@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.adSamples {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adDesigner {
    width: 50%;
}

.votes {
    width: 50%;
}


@media only screen and (max-width: 768px) {
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
    
.adDesigner {
    width: 99%;
}
    
.votes {
    width: 99%;

}
}